/* public/bikes.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

p {
    color: #666;
    text-align: center;
    margin-top: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

.bike-details {
    text-align: left;
    margin-top: 20px;
}

.bike-details h2 {
    color: #444;
}

.bike-details p {
    color: #555;
}