<!-- views/bike1.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bikes.css">
</head>
<body>
    <div class="container">
        <h1>Bicycle 1</h1>
        <div class="bike-details">
            <h2>Details</h2>
            <p>Details about Bicycle 1.</p>
            <img src="/assets/images/bike_1.png" alt="City E-Bike 1">
        </div>
    </div>
</body>
</html>