<!-- views/hybridBike.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bikes.css">
</head>
<body>
    <div class="container">
        <h1>Hybrid Bike</h1>
        <div class="bike-details">
            <h2>Details</h2>
            <p>Details about Hybrid Bike.</p>
        </div>
    </div>
</body>
</html>