<footer>
    <div class="footer-content">
        <p>Follow us:</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank">
                <img src="/assets/logos/facebook_logo_2.png" alt="Facebook" class="social-icon">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="/assets/logos/instagram_logo_2.png" alt="Instagram" class="social-icon">
            </a>
            <a href="https://www.tiktok.com" target="_blank">
                <img src="/assets/logos/tiktok_logo_2.png" alt="TikTok" class="social-icon">
            </a>
        </div>
    </div>
</footer>