<div class="latest-articles">
    <h2>Latest Articles</h2>
    <ul>
        <li><a href="/articles/1">Article 1</a></li>
        <li><a href="/articles/2">Article 2</a></li>
        <li><a href="/articles/3">Article 3</a></li>
    </ul>
</div>