<div class="most-purchased">
    <h2>Most Purchased Bicycles</h2>
    <div class="bicycles">
        <a href="/bicycles/1"><img src="/assets/city_ebikes/city_ebike_1.png" alt="Bicycle 1"></a>
        <a href="/bicycles/2"><img src="/assets/hybrid_ebikes/hybrid_ebike_1.png" alt="Bicycle 2"></a>
        <a href="/bicycles/3"><img src="/assets/mountain_ebikes/mountain_ebike_1.png" alt="Bicycle 3"></a>
    </div>
</div>